.fancy-button {
  width: 100px;
  height: 40px;
}

.fancy-button button {
  width: 100px;
  height: 40px;
  background-color: rgba(201, 201, 201, 0.5);
  color: black;
  border: none;
  border-bottom: 3px solid rgb(197, 197, 197);
  cursor: pointer;
  transition: background-color 0.1s;
}

.fancy-button button:hover {
  background-color: rgba(180, 180, 180, 0.75);
  border-bottom: 2px solid rgb(197, 197, 197);
}
